.feedback-wrap {
  background-color: beige;
  padding: 100px 0;
}

@include media-up(lg) {
  .feedback {
    padding-top: 100px;
    text-align: center;
    display: flex;
    align-items: center;

    &__img {
      display: block;
      width: 80%;
      height: auto;

      &--header {
        display: none;
      }

      &--foto {
        display: none;
      }

      &--text {
        display: none;
      }
    }

  }

  .form {
    width: 80%;
    max-width: 400px;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2em;

    &__label,
    &__input {
      font-size: 1.5em;
      color: rgb(100, 100, 100);
      padding: 10px 15px;
      // border-radius: 10px;
      border: none;
    }

    &__input:hover,
    &__input:focus,
    &__btn:hover,
    &__btn:focus {
      box-shadow: 0 0 0 5px gray;
    }

    &__btn {
      font-size: 1.5em;
      color: rgb(100, 100, 100);
      border: none;
      padding: 10px 15px;
      // border-radius: 10px;
    }

    &__text {
      display: none;
    }
  }
}


@include media-down(lg) {

  .feedback {
    overflow: hidden;
    display: flex;
    // flex-wrap: wrap;
    flex-direction: column;
    align-items: center;

    &__title {
      font-size: 2em;
      margin-bottom: 50px;
      color: rgb(110, 110, 110);
    }

    &__logo {
      display: flex;
      // flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
      // padding: 0 20px;
    }

    &__text {
      // display: none;
      padding: 0 20px;
    }

    &__img {
      width: 100%;
      height: auto;
      display: block;

      &--big {
        display: none;
      }

      // &--header {
      //   max-width: 300px;
      // }

      // &--foto {
      //   max-width: 300px;
      // }

      // &--text {
      //   max-width: 300px;
      // }

    }
  }

  .form {
    max-width: 500px;
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1em;
    padding: 0 20px;

    &__label,
    &__input {
      font-size: 1.4em;
      padding: 10px 15px;
      color: rgb(100, 100, 100);
    }

    &__input:hover,
    &__input:focus,
    &__btn:hover,
    &__btn:focus {
      box-shadow: 0 0 0 5px gray;
    }

    &__btn {
      font-size: 1.4em;
      color: rgb(100, 100, 100);
      border: none;
      padding: 10px 15px;
      background-color: rgba(128, 128, 128, 0.349);
      // border-radius: 10px;
    }

    &__text {
      display: none;
      padding: 0 20px;
    }
  }
}