{% set title = 'Cosapro' %}
{% set pagesDisable = 'disable' %}
{% extends "templates/default.html" %}

{% set slider = [
{img: "foto1", alt: "alt1"},
{img: "foto2", alt: "alt2"},
{img: "foto3", alt: "alt3"},
{img: "foto4", alt: "alt4"},
{img: "foto5", alt: "alt5"},
{img: "foto6", alt: "alt6"},
{img: "foto7", alt: "alt7"}
]%}

{% macro imageSvg(name, class, width, height) %}
<svg class="{{ class }}" width="{{ width }}" height="{{ height }}">
  <use xlink:href='img/svg/sprite-black.svg#{{ name }}'></use>
</svg>
{% endmacro %}
{% macro imageSvgColor(name, class, width, height, alt) %}
<svg class="{{ class }}" width="{{ width }}" height="{{ height }}" aria-label="{{ alt }}">
  <use xlink:href='img/svg/sprite-color.svg#{{ name }}'></use>
</svg>
{% endmacro %}
{% macro imageJpg(classPicture, name, classImg, alt, width, height) %}
<picture class="{{ classPicture }}">
  <source srcset="img/{{ name }}.webp" type="image/webp">
  <img src="img/{{ name }}.jpg" alt="{{ alt }}" class="{{ classImg }}" width="{{ width }}" height="{{ height }}">
</picture>
{% endmacro %}
{% macro imagePng(classPicture, name, classImg, alt, width, height) %}
<picture class="{{ classPicture }}">
  <source srcset="img/{{ name }}.webp" type="image/webp">
  <img src="img/{{ name }}.png" alt="{{ alt }}" class="{{ classImg }}" width="{{ width }}" height="{{ height }}">
</picture>
{% endmacro %}

{{ imageJpg('logo__picture', 'logo', 'logo__img', 'alt', '150', '150') }}

{% for item in slider %}
<li class="slider__item">
  <picture class="slider__picture">
    <source srcset="img/{{ item.img }}.webp" type="image/webp">
    <img src="img/{{ item.img }}.jpg" alt="{{ item.alt }}" class="slider__img" height="200">
  </picture>
</li>
{% endfor %}

{% block content %}

{% include "includes/header.html" %}

<main>
  <div class="prew">
    <div class="prew-img">
      {{ imageJpg('prew-img__picture', 'roof', 'prew-img__img', 'roof', '150', '100') }}
    </div>
  </div>


  <section class="certificates-wrap" id="certificates">
    <div class="container">
      <div class="certificates">
        <h2 class="certificates__title title">
          TODISTUS
        </h2>
        <ul class="certificates__list">
          <li class="certificates__item">
            <a class="certificates__link" href="files/example.pdf">Скачать файл PDF для примера</a>
          </li>
          <li>
          <li class="certificates__item">
            <a href="files/forest.jpg">Скачать файл JPG для примера</a>
          </li>
          <li>
          <li class="certificates__item">
            <a href="files/wu.png">Скачать файл PNG для примера</a>
          </li>
        </ul>
      </div>
    </div>
  </section>

  {% include "includes/feedback.html" %}
</main>

{% include "includes/footer.html" %}

{% endblock %}