{% set title = 'AG' %}
{% extends "templates/default.html" %}

{% set slider = [
{img: "name1", alt: "alt1"},
{img: "name2", alt: "alt2"}
]%}

{% macro imageSvg(name, class, width, height) %}
<svg class="{{ class }}" width="{{ width }}" height="{{ height }}">
  <use xlink:href='img/svg/sprite-black.svg#{{ name }}'></use>
</svg>
{% endmacro %}
{% macro imageSvgColor(name, class, width, height, alt) %}
<svg class="{{ class }}" width="{{ width }}" height="{{ height }}" aria-label="{{ alt }}">
  <use xlink:href='img/svg/sprite-color.svg#{{ name }}'></use>
</svg>
{% endmacro %}
{% macro imageJpg(classPicture, name, classImg, alt, width, height) %}
<picture class="{{ classPicture }}">
  <source srcset="img/{{ name }}.webp" type="image/webp">
  <img src="img/{{ name }}.jpg" alt="{{ alt }}" class="{{ classImg }}" width="{{ width }}" height="{{ height }}">
</picture>
{% endmacro %}

{{ imageJpg('logo__picture', 'logo', 'logo__img', 'alt', '150', '150') }}

{% for item in slider %}
<li class="slider__item">
  <picture class="slider__picture">
    <source srcset="img/{{ item.img }}.webp" type="image/webp">
    <img src="img/{{ item.img }}.jpg" alt="{{ item.alt }}" class="slider__img" height="200">
  </picture>
</li>
{% endfor %}

{% block content %}

<div class="header-wrap">
  <div class="container">
    <header class="header">
      <div class="logo">
        <a href="index.html">логотип</a>
      </div>
      <nav class="nav">
        <ul class="nav__list">
          <li class="nav__item">
            <div class="nav__link nav__link--current">Лес</div>
          </li>
          <li class="nav__item">
            <a href="roof.html" class="nav__link">Кровельные работы</a>
          </li>
          <li class="nav__item">
            <a href="other.html" class="nav__link">Общестроительные работы</a>
          </li>
          <li class="nav__item">
            <a href="#feedback" class="nav__link">Связаться с нами</a>
          </li>
        </ul>
      </nav>
      <button class="header-btn" aria-label="Меню" type="button">Menu</button>
    </header>

  </div>

</div>

<main>

  <div class="prew">
    <div class="prew-img">
      {{ imageJpg('prew-img__picture', 'test', 'prew-img__img', 'forest', '150', '100') }}
    </div>
  </div>

  <section class="section">
    <h2>Лес</h2>
    <p>В этом разделе будет что-то рассказано о том, какие услуги можно получить в отношении Леса</p>
  </section>

  {% include "includes/feedback.html" %}
</main>

{% include "includes/footer.html" %}

{% endblock %}