{% set title = 'Cosapro' %}
{% set indexDisable = 'disable' %}

{% extends "templates/default.html" %}

{% macro imageSvg(name, class, width, height) %}
<svg class="{{ class }}" width="{{ width }}" height="{{ height }}">
  <use xlink:href='img/svg/sprite-black.svg#{{ name }}'></use>
</svg>
{% endmacro %}
{% macro imageSvgColor(name, class, width, height, alt) %}
<svg class="{{ class }}" width="{{ width }}" height="{{ height }}" aria-label="{{ alt }}">
  <use xlink:href='img/svg/sprite-color.svg#{{ name }}'></use>
</svg>
{% endmacro %}
{% macro imageJpg(classPicture, name, classImg, alt, width, height) %}
<picture class="{{ classPicture }}">
  <source srcset="img/{{ name }}.webp" type="image/webp">
  <img src="img/{{ name }}.jpg" alt="{{ alt }}" class="{{ classImg }}" width="{{ width }}" height="{{ height }}">
</picture>
{% endmacro %}
{% macro imagePng(classPicture, name, classImg, alt, width, height) %}
<picture class="{{ classPicture }}">
  <source srcset="img/{{ name }}.webp" type="image/webp">
  <img src="img/{{ name }}.png" alt="{{ alt }}" class="{{ classImg }}" width="{{ width }}" height="{{ height }}">
</picture>
{% endmacro %}

{{ imageJpg('logo__picture', 'logo', 'logo__img', 'alt', '150', '150') }}

{% for item in slider %}
<li class="slider__item">
  <picture class="slider__picture">
    <source srcset="img/{{ item.img }}.webp" type="image/webp">
    <img src="img/{{ item.img }}.jpg" alt="{{ item.alt }}" class="slider__img" height="200">
  </picture>
</li>
{% endfor %}

{% block content %}

{% include "includes/header.html" %}

<main>
  <div class="prew">
    <div class="prew-img">
      {{ imageJpg('prew-img__picture', 'start', 'prew-img__img', 'Красивый вид', '150', '100') }}
    </div>
    <div class="prew-main">
      <!-- <div class="prew-main__logo">
        <picture class="prew-main__picture {{ pagesDisable }}">
          <source srcset="img/small-png-logo.webp" type="image/webp">
          <img src="img/small-png-logo.png" alt="Cosapro Logo" class="prew-main__img" width="160px" height="100px">
        </picture>  
      </div> -->
      <h1 class="prew-main__title">Cosapro OY</h1>
      <p class="prew-main__description">Какое-то описание, что тут можно найти. Кому и почему может быть полезный этот
        сайт.</p>
    </div>

  </div>

  <section class="general-wrap">
    <div class="container">
      <div class="general">
        <h2 class="general__title title">VALITSE TARPEESI</h2>
        <ul class="general__list offer">
          <li class="offer__item">
            <a href="iron.html" class="offer__link">
              {{ imagePng('offer__picture', 'link-iron', 'offer__img', 'alt', '50px', '50px') }}
              <!-- <span>Разные работы</span> -->
            </a>
          </li>
          <!-- <li class="offer__item">

            <a href="forest.html" class="offer__link">
              {{ imagePng('offer__picture', 'link-forest', 'offer__img', 'alt', '50px', '50px') }}

              <span>Работы в лесу</span>
            </a>
          </li> -->
          <li class="offer__item offer__item--roof">
            <a href="roof.html" class="offer__link">
              {{ imagePng('offer__picture', 'link-roof', 'offer__img', 'alt', '50px', '50px') }}
              <!-- <span>Кровельные работы</span> -->
            </a>
          </li>
          <!-- <li class="offer__item">
            <a href="other.html" class="offer__link">
              {{ imagePng('offer__picture', 'link-other', 'offer__img', 'alt', '50px', '50px') }}
              <span>Разные работы</span>
            </a>
          </li> -->

        </ul>

      </div>
    </div>
  </section>

  {% include "includes/feedback.html" %}
</main>

{% include "includes/footer.html" %}

{% endblock %}